<%- include('../includes/header.ejs')%>
<link rel="stylesheet" href="/css/password_eye.css">
</head>
<body class="red lighten-4">
    <header>
    </header>
    <main>
        <div class="container" style="margin-top: 60px;">
            <div class="row">
                <h2 class="center-align teal-text" style="margin-top: 4rem;">Change Your Password</h2>
                <form action="/changePassword" method="post" style="margin-top: 4rem;">
                    <input id="id" type="hidden" class="validate" name="id" value="<%=data._id%>">
                    <div class="input-field col s12">
                        <input id="email" type="email" class="validate" name="email" value="<%=data.email%>">
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field col s12">
                        <input placeholder="" id="password" type="password" class="validate" name="password">
                        <span class="password-toggle-icon"><i class="fa-solid fa-eye-slash eye-slash-password"></i><i class="fa-solid fa-eye eye-password"></i></span>
                        <label for="password">Password</label>
                    </div>
                    <div class="input-field col s12">
                        <input placeholder="" id="confirm_password" type="password" class="validate" name="confirm_password">
                        <span class="password-toggle-icon"><i class="fa-solid fa-eye-slash eye-slash-confirm-password"></i><i class="fa-solid fa-eye eye-confirm-password"></i></span>
                        <label for="confirm_password">Confirm Password</label>
                    </div> 
                        <button type="submit" class="waves-effect waves-light btn" style="margin-left: 32rem; margin-top: 5px;">Change Password</button>
                </form>
            </div>
        </div>
    </main>
<%- include('../includes/footer.ejs')%>
