<%- include('../includes/header.ejs')%>
</head>
<body class="red lighten-4">
    <header>
    </header>
    <main>
        <div class="container">
            <div class="row center-align" style="margin-top: 10rem;">
                <h2 class="teal-text"> Password Update Successfully</h2>
                <p>Click here to go to profile page<a href="/profile">Click here</a></p>
            </div>
        </div>
    </main>
<%- include('../includes/footer.ejs')%>
