<nav>
  <div class="nav-wrapper pink">
      <div>
          <span class="left"><img src="/img/pacebook.png" alt="..." class="brand-logo" height="44px" id="logo" style="margin-top: 10px; margin-left: 5px;"><span style="font-weight: 600; margin-left: 4rem; font-size: 2rem;">PACEBOOK</span></span>
      </div>
      <div>
          <ul class='right'>
              <li class="hide-on-med-and-down"><a href="/home"><i class="fa-solid fa-house"></i></a></li>
              <li class="hide-on-med-and-down"><a href=""><i class="fa-solid fa-user-group"></i></a></li>
              <li class="hide-on-med-and-down"><a href="/profile"><i class="fa-solid fa-address-card"></i></a></li>
              <li class="hide-on-med-and-down"><a href=""><i class="fa-solid fa-headset"></i></a></li>
              <li class="hide-on-large-only"><a href="" id="bars"><i class="fa-solid fa-bars"></i></a></li>
              <li class="hide-on-med-and-down"><a href="/logout"><i class="fa-solid fa-right-from-bracket"></i></a></li>
          </ul>
      </div>
  </div>
</nav>
